Repository mccabetrow/dragonfly_civil: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-supabase-linked, migration-reminder

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile=black"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.0
    hooks:
      - id: mypy
        args: ["--config-file=mypy.ini", "--no-error-summary"]
        pass_filenames: false
        verbose: true
        # Allow mypy to fail without blocking commit (type hints are advisory)
        stages: [manual]
        additional_dependencies:
          - pydantic
          - pydantic-settings
          - supabase
          - psycopg[binary]

  # NOTE: mirrors-prettier never published v3.2.5; pin to v3.1.0 so pre-commit can clone successfully.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: "\\.(json|jsonc)$"

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.5
    hooks:
      - id: sqlfluff-lint
        args: ["--dialect=postgres", "--processes=4"]
        files: "^(dashboards/sql/|supabase/db/|supabase/schema.sql$)"
      - id: sqlfluff-fix
        args: ["--dialect=postgres", "--processes=4"]
        files: "^(dashboards/sql/|supabase/db/|supabase/schema.sql$)"

  # Local hooks for Dragonfly-specific checks
  - repo: local
    hooks:
      # Prevent use of --linked with Supabase CLI (causes pooler DNS issues on Windows)
      - id: no-supabase-linked
        name: no supabase --linked
        entry: >
          bash -c 'if grep -vE "^[[:space:]]*(#|//).*" "$@" 2>/dev/null | grep -qE "supabase[[:space:]]+(db|migration|link).*--linked|--linked"; then
          echo "";
          echo "ERROR: Use --db-url with SUPABASE_DB_URL_DEV/PROD instead of --linked.";
          echo "The --linked flag causes pooler DNS issues on Windows.";
          exit 1; fi; exit 0' --
        language: system
        files: '\.(ps1|yml|yaml|sh)$'
        types: [text]

      # Migration workflow reminder
      - id: migration-reminder
        name: migration workflow reminder
        entry: >
          python -c "import sys;
          print('REMINDER: Migrations auto-apply to DEV on push to main.');
          print('For PROD, use Actions > Supabase Migrations > Run workflow (prod).');
          sys.exit(0)"
        language: system
        files: "^supabase/migrations/.*\\.sql$"
        pass_filenames: false

fix: update prod_gate API URL and handle wrapped response format
  tools/prod_gate.py
Due: none

fix: prod_gate environment-aware checks (dev skips API/workers, warns on migrations)
  tools/prod_gate.py
Due: none

fix: use python -m pip in nixpacks.toml, document Railway config
  Procfile
  nixpacks.toml
Due: none

feat: ironclad env var contract with Railway API validation
  docs/env_contract.md
  scripts/audit_env.ps1
  scripts/pre_deploy_check.ps1
  scripts/railway_env_audit.py
Due: no-supabase-linked

fix: production hardening, security redaction, and missing modules
  backend/core/logging.py
  nixpacks.toml
  src/supabase_client.py
Due: none

fix: add transaction rollback handling and break glass RLS migration
  backend/workers/bootstrap.py
  supabase/migrations/20251219160000_break_glass_disable_rls.sql
Due: migration-reminder

fix: worker resilience rollback and internal table perms
  scripts/load_env.ps1
  scripts/smoke_golden_path.ps1
Due: no-supabase-linked

docs: add release runbook, env doctor, and config tests
  docs/RUNBOOK_RELEASE.md
  scripts/load_env.ps1
  tests/test_core_config.py
  tools/env_doctor.py
Due: no-supabase-linked

gate: add CONFIG-CONTRACT to Hard Gate (Phase 1)
  scripts/gate_preflight.ps1
Due: no-supabase-linked

feat(deploy): Golden Release infrastructure
  docs/GOLDEN_RELEASE_PROCEDURE.md
  scripts/release_commander.ps1
  supabase/migrations/rollback_template.sql
Due: no-supabase-linked, migration-reminder

feat(queue): Sacred Queue hardening with idempotency + reaper + locking tests
  scripts/release_commander.ps1
  supabase/migrations/20251221140018_queue_sacred_idempotency.sql
  tests/test_queue_sacred.py
Due: no-supabase-linked, migration-reminder

refactor: clean history and remove exposed config [SECURE]
  .gitignore
  docker-compose.test.yml
  docs/INCIDENT_LOG.md
  docs/RUNBOOK_INCIDENT.md
  docs/SECURITY_EXCEPTIONS.md
  docs/incidents/2025-12-21_01_production_smoke_test_failed_on_csv_upload.md
  docs/incidents/2025-12-22_01_postgres_uri_leak_github.md
  docs/templates/incident_report.md
  ops/ceo_dashboard.sql
  pytest.ini
  scripts/fix_git_tracking.ps1
  scripts/gate_preflight.ps1
  scripts/shell_clean.ps1
  scripts/smoke_production.ps1
  scripts/test_ci_local.ps1
  supabase/migrations/20251221152903_zero_trust_hardening.sql
  supabase/migrations/20251222080602_schedule_reaper.sql
  supabase/migrations/20251222080603_harden_public_schema.sql
  supabase/migrations/20251222083505_self_healing_reaper.sql
  supabase/migrations/20251222100000_harden_schemas.sql
  tests/test_performance_budget.py
  tests/test_security_audit_zero_trust.py
  tests/test_security_invariants.py
  tests/test_security_invariants_live.py
  tmp/check_rls.py
  tmp/verify_prod_slo.py
  tools/env_doctor.py
  tools/load_test_rpc.py
  tools/new_incident.py
  tools/scan_secrets.py
  tools/smoke_uploader.py
Due: no-supabase-linked, migration-reminder

Zero Trust complete: 53 tables RLS + FORCE, compliance views deployed
  archive/migrations_2025122208/20251222080602_schedule_reaper.sql
  archive/migrations_2025122208/20251222080603_harden_public_schema.sql
  archive/migrations_2025122208/20251222083505_self_healing_reaper.sql
  archive/migrations_2025122208/20251222100000_harden_schemas.sql
  scripts/gate_preflight.ps1
  supabase/migrations/20251222102730_zero_trust_finish.sql
  tests/test_zero_trust_final.py
  tools/generate_db_urls.py
  tools/test_db_connection.py
Due: no-supabase-linked, migration-reminder

Self-Healing: Reaper diagnostics + Watchdog alerting
  backend/workers/watchdog.py
  ops/reaper_health.sql
Due: none

fix: Use started_at (not claimed_at) for stuck job detection
  backend/workers/watchdog.py
  ops/reaper_health.sql
Due: none

feat: Secret detection + /health/system endpoint + runbooks
  .github/workflows/ci.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  backend/routers/health.py
  docs/RUNBOOK_REAPER_DASHBOARD.md
  docs/RUNBOOK_SECRET_ROTATION.md
Due: no-supabase-linked

fix: Defer env var access in test_sql_smoke.py to runtime
  tests/test_sql_smoke.py
Due: none

feat(go-live): wire Intake Station to Railway API
  dragonfly-dashboard/src/components/dashboard/IntakeStation.tsx
  dragonfly-dashboard/src/components/dashboard/index.ts
  dragonfly-dashboard/src/lib/api.ts
  scripts/generate_vercel_env.ps1
  scripts/run_demo_pipeline.ps1
  scripts/verify_prod_integration.ps1
  tools/demo_ingest.py
  tools/lint_env_vars.py
  tools/verify_prod_connectivity.py
Due: no-supabase-linked

fix: sanitize generator scripts and lint whitespace
  backend/workers/orchestrator.py
  etl/collector_intel.py
  etl/src/importers/jbi_900.py
  etl/src/plaintiff_importer.py
  scripts/apply_title_trigger.py
  scripts/check_enrichment_tables.py
  scripts/check_enrichment_type.py
  scripts/generate_vercel_config.ps1
  scripts/test_db.py
  src/workers/score_cases.py
  tools/lint_env_vars.py
Due: no-supabase-linked

feat(dashboard): centralized runtime config module
  .gitignore
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/components/DemoBanner.tsx
  dragonfly-dashboard/src/components/debug/DebugStatus.tsx
  dragonfly-dashboard/src/components/debug/SystemDiagnostics.tsx
  dragonfly-dashboard/src/components/radar/PacketGenerator.tsx
  dragonfly-dashboard/src/config/index.ts
  dragonfly-dashboard/src/config/runtime.ts
  dragonfly-dashboard/src/lib/apiClient.ts
  dragonfly-dashboard/src/lib/supabaseClient.ts
  dragonfly-dashboard/src/pages/debug/ConfigDebug.tsx
  dragonfly-dashboard/src/utils/logUiAction.ts
Due: none

feat(realtime): robust websocket auth handling with user banner
  docs/TROUBLESHOOTING_REALTIME.md
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/components/RealtimeStatusBanner.tsx
  dragonfly-dashboard/src/config/runtime.ts
  dragonfly-dashboard/src/context/RealtimeContext.tsx
  dragonfly-dashboard/src/lib/supabaseClient.ts
Due: none

feat(health): accurate backend badge diagnostics
  dragonfly-dashboard/src/components/SystemDiagnostic.tsx
  dragonfly-dashboard/src/lib/api.ts
  dragonfly-dashboard/src/lib/apiClient.ts
Due: none

fix: victory lap configuration and build paths
  .gitignore
  dragonfly-dashboard/src/components/dashboard/IntakeStation.tsx
  dragonfly-dashboard/src/config/runtime.ts
  dragonfly-dashboard/tsconfig.json
  dragonfly-dashboard/vite.config.ts
  supabase/migrations/20251229111936_grant_intake_to_dragonfly_app.sql
  supabase/migrations/20251229113353_rls_allow_dragonfly_app_judgments.sql
  tools/dad_demo_ingest.py
Due: migration-reminder

feat: add unified IngestionService with create_batch/process_batch
  backend/services/__init__.py
  backend/services/ingestion_service.py
Due: none

feat(intake): Polling-based IntakeStation with result display
  dragonfly-dashboard/src/components/dashboard/IntakeStation.tsx
  dragonfly-dashboard/src/lib/api.ts
Due: none

feat(orchestrator): Polling for uploaded batches + run_batch CLI
  backend/workers/orchestrator.py
  tools/run_batch.py
Due: none

fix: align backend route to /batches and repair db schema
  backend/routers/intake.py
  supabase/migrations/20251230170000_repair_judgment_dedupe.sql
  tools/check_route_health.py
Due: migration-reminder

feat: harden smoke tests with PGRST002 retry + add verify_final_state tool
  backend/routers/intake.py
  tools/smoke_e2e.py
  tools/verify_final_state.py
Due: none

fix(critical): emergency go-live fixes for RLS, schema drift, and routes
  backend/routers/intake.py
  backend/services/ingest.py
  backend/workers/collectability.py
  supabase/migrations/20250107_emergency_fix.sql
Due: migration-reminder

fix(collectability): worker scoring with correct psycopg3 placeholders and tier columns
  backend/workers/collectability.py
  supabase/migrations/20250107_emergency_fix.sql
  supabase/migrations/20251231093010_add_tier_columns.sql
Due: migration-reminder

fix(db): lazy-load pool + robust SHA + runtime safety
  .github/workflows/lint_gate.yml
  .github/workflows/production_deploy.yml
  .pre-commit-config.yaml
  backend/core/__init__.py
  backend/core/bootstrap.py
  backend/core/db.py
  supabase/migrations/20251209_promote_enforcement_to_prod.sql
  tmp/get_spawn.py
Due: no-supabase-linked, migration-reminder

fix(tests): update test mocks for router path migration
  tests/test_api_envelope.py
  tests/test_api_intake_batches.py
  tests/test_application_name.py
  tests/test_config_check.py
  tests/test_doctor_all.py
  tests/test_enforcement_wage_candidates.py
  tests/test_intake_api.py
  tests/test_invariants.py
  tests/test_ops_guardian_api.py
  tests/test_platform_endpoints.py
  tests/test_raw_sql_guard.py
  tests/test_search_router.py
  tests/test_validate_n8n_flows.py
  tests/test_workers_enforcement_generate_packet.py
Due: none

ci: add Perfect Gate quality enforcement pipeline
  .github/workflows/ci_gate.yml
Due: no-supabase-linked
