Repository mccabetrow/dragonfly_civil: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-supabase-linked, migration-reminder

no-supabase-linked:
  name: no supabase --linked
  ...

migration-reminder:
  name: migration workflow reminder
  entry: 'python -c "import sys; print(''REMINDER: Migrations auto-apply to DEV on push to main.''); print(''For PROD, use Actions > Supabase Migrations > Run workflow (prod).''); sys.exit(0)"
  
    '
  language: system
  pass_filenames: false

feat: Add pyproject.toml with relaxed mypy for Railway
  pyproject.toml
Due: none

feat: Automate intelligence pipeline with gig detection + daily recap
  backend/scheduler.py
  backend/services/enrichment_service.py
  backend/services/notification_service.py
Due: none

fix: Remove old SettingsPage, use SettingsPageNew everywhere
  dragonfly-dashboard/src/pages/SettingsPage.tsx
  dragonfly-dashboard/src/routes/navigation.ts
Due: none

feat(ui): Premium dark fintech theme - billion-dollar dashboard
  dragonfly-dashboard/src/layouts/AppShellNew.tsx
  dragonfly-dashboard/src/lib/design-tokens.ts
  dragonfly-dashboard/src/style.css
  dragonfly-dashboard/tailwind.config.js
Due: none

feat(ui): CEO Portfolio Dashboard - executive overview
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/hooks/useRecentAlerts.ts
  dragonfly-dashboard/src/pages/PortfolioDashboardPage.tsx
  dragonfly-dashboard/src/routes/navigation.ts
Due: none

feat(backend): add production-grade data integrity, scalability, and observability
  backend/config.py
  backend/core/__init__.py
  backend/core/logging.py
  backend/core/models.py
  backend/core/queue_processor.py
  backend/core/transactions.py
  backend/services/allocation_service.py
  backend/services/compliance_service.py
  backend/services/enrichment_service.py
  backend/worker.py
Due: none

fix: reliability sprint - whitespace cleanup and unused type: ignore removal
  backend/services/ingest_service.py
  tools/db_check.py
  tools/doctor.py
  tools/list_queue_functions.py
Due: none

fix: code quality improvements for CI/CD pipeline compliance
  backend/config.py
  scripts/cleanup_types.py
  src/transforms/models_cases.py
Due: none

refactor(dashboard): consolidate AppShell layout component
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/layouts/AppShell.tsx
  dragonfly-dashboard/src/layouts/AppShellNew.tsx
Due: none

feat(dashboard): HFT terminal redesign with premium dark theme
  dragonfly-dashboard/src/pages/PortfolioDashboardPage.tsx
Due: none

feat(backend): harden API with global exception handler and performance middleware
  backend/core/middleware.py
  backend/main.py
Due: none

feat(backend): version bump to v1.3.0 (Asset Class)
  backend/__init__.py
  backend/db.py
  backend/main.py
Due: none

fix(db): cast HttpUrl to str for Pydantic v2 compatibility
  backend/db.py
Due: none

fix(config): replace HttpUrl with str for Pydantic v2 compatibility
  backend/config.py
Due: none

fix(cors): update Vercel preview regex to allow any subdomain
  backend/config.py
Due: none

fix(db): revert to AsyncConnectionPool, bump v1.3.1
  backend/__init__.py
  backend/db.py
  backend/main.py
Due: none

chore(recovery): add master ops/intake schema repair script
  supabase/recovery/ops_intake_schema_repair.sql
Due: none

fix(intake): harden enrichment health view + frontend + tests
  dragonfly-dashboard/src/hooks/useEnrichmentHealth.ts
  supabase/recovery/ops_intake_schema_repair.sql
  tests/test_intake_api.py
Due: none

chore(recovery): add core_schema_repair.sql for CEO Dashboard + Ops Console views
  supabase/recovery/core_schema_repair.sql
Due: none

feat(enforcement): add wage garnishment candidates view + endpoint
  backend/routers/enforcement.py
  supabase/migrations/20251208140000_enforcement_wage_candidates.sql
  supabase/recovery/core_schema_repair.sql
  tests/test_enforcement_wage_candidates.py
Due: migration-reminder

feat(analytics): collectability scoring view (v1 rule-based)
  supabase/migrations/20251208150000_analytics_collectability_scores.sql
  supabase/recovery/core_schema_repair.sql
Due: migration-reminder

feat(agents): multi-stage enforcement automation pipeline
  backend/agents/__init__.py
  backend/agents/auditor.py
  backend/agents/drafter.py
  backend/agents/extractor.py
  backend/agents/models.py
  backend/agents/normalizer.py
  backend/agents/orchestrator.py
  backend/agents/reasoner.py
  backend/agents/strategist.py
Due: none

feat(maintenance): self-healing schema guard system
  backend/maintenance/__init__.py
  backend/maintenance/schema_guard.py
  backend/scheduler.py
  supabase/recovery/enforcement_schema_repair.sql
  tests/test_maintenance_schema_guard.py
  tools/run_schema_repair.py
Due: none

fix(tools): Windows asyncio compatibility + datetime deprecation fixes
  tools/run_schema_repair.py
Due: none

fix: schema repair SQL compatibility
  supabase/recovery/core_schema_repair.sql
  supabase/recovery/enforcement_schema_repair.sql
  supabase/recovery/ops_intake_schema_repair.sql
  tmp/check_schema.py
  tools/run_schema_repair.py
Due: none

safety: skip schema repair in prod until schema sync
  tools/run_schema_repair.py
Due: none

Add GitHub Actions workflow for production deployment
  .github/workflows/production_deploy.yml
Due: no-supabase-linked

fix(preflight): use db_migrate.ps1 instead of missing db_push.ps1
  scripts/preflight_prod.ps1
Due: no-supabase-linked

feat(schema): sync prod with dev for Schema Guard compatibility
  supabase/migrations/20251209092248_sync_prod_schema_for_guard.sql
  supabase/migrations/20251209093740_prod_schema_parity.sql
  supabase/recovery/ops_intake_schema_repair.sql
  tools/run_schema_repair.py
Due: migration-reminder

chore: trigger prod pipeline test - resolve merge conflict
  .github/workflows/production_deploy.yml
  README.md
  supabase/migrations/20251209_promote_enforcement_to_prod.sql
  tmp/get_spawn.py
Due: no-supabase-linked, migration-reminder

ci: upgrade to institutional-grade deployment pipeline
  .github/workflows/production_deploy.yml
  docs/observability_plan.md
  docs/prod_deploy_runbook.md
Due: no-supabase-linked

chore: add post-deploy prod smoke test
  .github/workflows/production_deploy.yml
  tools/prod_smoke.py
Due: no-supabase-linked

test: enforce schema contracts for enforcement and ops
  tests/test_maintenance_schema_guard.py
Due: none

feat(analytics): add CEO command center view and API endpoint
  backend/routers/analytics.py
  backend/workers/__init__.py
  backend/workers/ingest_processor.py
  supabase/migrations/20251208140000_enforcement_wage_candidates.sql
  supabase/migrations/20251208150000_analytics_collectability_scores.sql
  supabase/migrations/20251209125818_add_ingest_csv_job_type.sql
  supabase/migrations/20251209180000_analytics_intake_radar.sql
  supabase/migrations/20251209190000_promote_enforcement_to_prod.sql
  supabase/migrations/20251209200000_analytics_ceo_command_center.sql
  supabase/migrations/20251216000000_production_gap_fill.sql
  supabase/migrations/20251218000000_fix_prod_schema.sql
  supabase/migrations/20251219000000_fix_permissions.sql
  tests/test_ceo_command_center.py
  tests/test_maintenance_schema_guard.py
  tests/test_workers_ingest.py
Due: migration-reminder

docs: add engineering codex and workflow
  docs/CODING_WORKFLOW.md
  docs/Dragonfly_Codex_Guide.md
Due: none

feat(ops): add system health alerts
  Procfile
  backend/routers/analytics.py
  backend/routers/portfolio.py
  backend/workers/enforcement_engine.py
  docs/CODING_WORKFLOW.md
  docs/infra-notes.md
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/hooks/useEnforcementEngineData.ts
  dragonfly-dashboard/src/hooks/useIntakeStationData.ts
  dragonfly-dashboard/src/hooks/useOpsAlerts.ts
  dragonfly-dashboard/src/hooks/usePortfolioExplorerData.ts
  dragonfly-dashboard/src/layouts/AppShell.tsx
  dragonfly-dashboard/src/pages/IntakeStationPage.tsx
  dragonfly-dashboard/src/pages/PortfolioExplorerPage.tsx
  dragonfly-dashboard/src/pages/enforcement/EnforcementEnginePage.tsx
  dragonfly-dashboard/src/types/index.ts
  pytest.ini
  state/session.json
  supabase/migrations/20251220000000_analytics_intake_radar_v2.sql
  supabase/migrations/20251220100000_enforcement_engine.sql
  supabase/migrations/20251220200000_portfolio_explorer.sql
  supabase/migrations/20251221000000_fix_portfolio_rpc.sql
  supabase/migrations/20251221001000_fix_portfolio_id_type.sql
  supabase/migrations/20251221002000_ops_alerts.sql
  supabase/migrations/20251221003000_ops_alerts_public.sql
  tests/test_analytics_intake_radar.py
  tests/test_ops_alerts.py
  tests/test_portfolio_explorer.py
  tests/test_workers_enforcement.py
  tmp/apply_enforcement_schema.py
  tmp/check_schema.py
  tmp/cleanup_test.py
  tmp/debug_mock.py
  tmp/debug_mock2.py
  tmp/test_ingest_batch.csv
  tmp/test_ingest_job.sql
  tmp/test_simplicity_batch.csv
  tmp/verify_ingest.py
Due: migration-reminder

chore(tests): modernize legacy test suite
  backend/routers/analytics.py
  backend/routers/enforcement.py
  backend/routers/offers.py
  backend/routers/search.py
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/hooks/useEnforcementActions.ts
  dragonfly-dashboard/src/hooks/useIntakeStationData.ts
  dragonfly-dashboard/src/hooks/useSystemHealth.ts
  dragonfly-dashboard/src/layouts/AppShellNew.tsx
  dragonfly-dashboard/src/layouts/Sidebar.tsx
  dragonfly-dashboard/src/layouts/Topbar.tsx
  dragonfly-dashboard/src/pages/IntakeStationPageNew.tsx
  dragonfly-dashboard/src/pages/enforcement/EnforcementActionCenter.tsx
  dragonfly-dashboard/tailwind.config.js
  pytest.ini
  state/session.json
  tests/test_case_insert.py
  tests/test_enforcement_unify.py
  tests/test_enforcement_views.py
  tests/test_fcra_access_logging.py
  tests/test_graph_service.py
  tests/test_import_plaintiffs.py
  tests/test_intake_api.py
  tests/test_intake_rest_views.py
  tests/test_queue_rpc_integration.py
  tests/test_rpc_contracts.py
  tests/test_search_router.py
  tests/test_sql_smoke.py
Due: none

infra(railway): add railway.toml for worker services
  railway.toml
Due: none

Path conditions:
  no-supabase-linked: any of: \.(ps1|yml|yaml|sh)$
  migration-reminder: any of: ^supabase/migrations/.*\.sql$
