Repository mccabetrow/dragonfly_civil: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-supabase-linked, migration-reminder

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile=black"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.0
    hooks:
      - id: mypy
        args: ["--config-file=mypy.ini", "--no-error-summary"]
        pass_filenames: false
        verbose: true
        # Allow mypy to fail without blocking commit (type hints are advisory)
        stages: [manual]
        additional_dependencies:
          - pydantic
          - pydantic-settings
          - supabase
          - psycopg[binary]

  # NOTE: mirrors-prettier never published v3.2.5; pin to v3.1.0 so pre-commit can clone successfully.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: "\\.(json|jsonc)$"

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.5
    hooks:
      - id: sqlfluff-lint
        args: ["--dialect=postgres", "--processes=4"]
        files: "^(dashboards/sql/|supabase/db/|supabase/schema.sql$)"
      - id: sqlfluff-fix
        args: ["--dialect=postgres", "--processes=4"]
        files: "^(dashboards/sql/|supabase/db/|supabase/schema.sql$)"

  # Local hooks for Dragonfly-specific checks
  - repo: local
    hooks:
      # Prevent use of --linked with Supabase CLI (causes pooler DNS issues on Windows)
      - id: no-supabase-linked
        name: no supabase --linked
        entry: >
          bash -c 'if grep -vE "^[[:space:]]*(#|//).*" "$@" 2>/dev/null | grep -qE "supabase[[:space:]]+(db|migration|link).*--linked|--linked"; then
          echo "";
          echo "ERROR: Use --db-url with SUPABASE_DB_URL_DEV/PROD instead of --linked.";
          echo "The --linked flag causes pooler DNS issues on Windows.";
          exit 1; fi; exit 0' --
        language: system
        files: '\.(ps1|yml|yaml|sh)$'
        types: [text]

      # Migration workflow reminder
      - id: migration-reminder
        name: migration workflow reminder
        entry: >
          python -c "import sys;
          print('REMINDER: Migrations auto-apply to DEV on push to main.');
          print('For PROD, use Actions > Supabase Migrations > Run workflow (prod).');
          sys.exit(0)"
        language: system
        files: "^supabase/migrations/.*\\.sql$"
        pass_filenames: false

feat(enforcement): wire Generate Packet to Orchestrator
  backend/routers/enforcement.py
  backend/workers/enforcement_engine.py
  dragonfly-dashboard/src/hooks/useEnforcementActions.ts
  supabase/migrations/20251210120000_enforcement_generate_packet.sql
  tests/test_workers_enforcement_generate_packet.py
Due: migration-reminder

feat: add UI telemetry pipeline
  backend/main.py
  backend/routers/telemetry.py
  dragonfly-dashboard/src/pages/IntakeStationPage.tsx
  dragonfly-dashboard/src/pages/enforcement/EnforcementActionCenter.tsx
  dragonfly-dashboard/src/utils/logUiAction.ts
  supabase/migrations/20251222000000_ui_telemetry.sql
  tests/test_telemetry_api.py
Due: migration-reminder

feat(dashboard): upgrade to HFT terminal shell layout
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/layouts/Sidebar.tsx
Due: none

feat: enforcement action center filters with server-side RPC
  backend/routers/enforcement.py
  dragonfly-dashboard/src/hooks/useEnforcementRadar.ts
  dragonfly-dashboard/src/pages/enforcement/EnforcementActionCenter.tsx
  supabase/migrations/20251223000000_enforcement_radar_filters.sql
  supabase/migrations/20251223001000_fix_enforcement_radar_filter.sql
  tests/test_enforcement_radar_filters.py
Due: migration-reminder

fix(migrations): make enforcement radar filters reset-safe
  supabase/migrations/20251223000000_enforcement_radar_filters.sql
Due: migration-reminder

fix(ci): repair grep exit code handling in migration workflow
  .github/workflows/supabase-migrate.yml
  scripts/daily_dev_check.ps1
  scripts/daily_prod_check.ps1
Due: no-supabase-linked

fix(ci): ruff lint + Supabase CLI install for production_deploy
  .github/workflows/production_deploy.yml
  apps/dragonfly_dashboard.py
Due: no-supabase-linked

fix(lint): resolve all ruff errors + E402 ignore for scripts
  backend/routers/health.py
  backend/routers/ingest_v2.py
  backend/routers/intake.py
  backend/services/finance_service.py
  backend/services/foil_service.py
  backend/services/ingest_service_v2.py
  backend/services/intake_guardian.py
  backend/services/intake_service.py
  backend/services/reporting_service.py
  etl/src/alerts/__init__.py
  etl/src/alerts/discord.py
  etl/src/auth/validation_service.py
  etl/src/plaintiff_importer.py
  etl/src/telemetry/auth.py
  etl/sync_simplicity.py
  etl/tests/test_entities.py
  pyproject.toml
  scripts/check_enrichment_tables.py
  scripts/check_enrichment_type.py
  tests/test_executive_metrics_views.py
  tests/test_foil_responses.py
  tests/test_handlers_enrich.py
  tests/test_migration_status_view.py
  tests/test_workers_enforcement.py
  tools/call_queue_worker.py
  tools/enrichment_smoke.py
  tools/import_900_smoke.py
  tools/run_batch_seed.py
  tools/smoke_enforcement_action.py
  tools/smoke_tier_assignment.py
  tools/tier_worker.py
  tools/verify_seed.py
  workers/tier_assignment_handler.py
Due: none

fix(ci): add placeholder env vars for pydantic Settings import-time validation
  .github/workflows/auth-session-ci.yml
  .github/workflows/ci.yml
  .github/workflows/dragonfly-ci.yml
Due: no-supabase-linked

fix(ci): use 100+ char placeholder for supabase_service_role_key validation
  .github/workflows/auth-session-ci.yml
  .github/workflows/ci.yml
  .github/workflows/dragonfly-ci.yml
Due: no-supabase-linked

fix(ci): isort fixes + add SUPABASE_PROJECT_REF env var
  .github/workflows/auth-session-ci.yml
  .github/workflows/ci.yml
  .github/workflows/dragonfly-ci.yml
  etl/src/foil_utils.py
  etl/src/models.py
  etl/src/settings.py
  etl/transforms.py
  integration/simplicity/api_client.py
  integration/simplicity/csv_reader.py
  scripts/sync_simplicity_cases.py
  src/telemetry/__init__.py
  tests/test_call_queue_sync.py
  tests/test_enforcement_planner.py
  tests/test_generate_dummy_intake.py
  tests/test_log_call_outcome.py
  tools/intake_smoke.py
Due: no-supabase-linked

ci: quarantine integration tests and update sql_lint recovery folder
  .github/workflows/dragonfly-ci.yml
  .github/workflows/production_deploy.yml
  pytest.ini
  tests/test_ceo_command_center.py
  tests/test_enforcement_radar_filters.py
  tests/test_executive_metrics_views.py
  tests/test_import_plaintiffs.py
  tests/test_intake_rest_views.py
  tests/test_log_call_outcome.py
  tests/test_maintenance_schema_guard.py
  tests/test_migration_status_view.py
  tests/test_offers.py
  tests/test_plaintiff_call_outcomes.py
  tests/test_priority_and_status_rpcs.py
  tests/test_priority_pipeline_view.py
  tests/test_queue_rpc_integration.py
  tests/test_rpc_contracts.py
  tests/test_simplicity_importer.py
  tests/test_simplicity_ingest.py
  tests/test_workers_enforcement.py
  tools/sql_lint.py
Due: no-supabase-linked

chore(ci): simplify prod deploy and rely on green CI
  .github/workflows/production_deploy.yml
Due: no-supabase-linked

fix(analytics): add public.v_enforcement_overview for overview page
  backend/main.py
  backend/routers/cases.py
  docs/Ops_Runbook.md
  docs/demo_intake_batch.csv
  dragonfly-dashboard/src/components/SystemDiagnostic.tsx
  dragonfly-dashboard/src/components/ui/TerminalToast.tsx
  dragonfly-dashboard/src/layouts/AppShell.tsx
  dragonfly-dashboard/src/pages/enforcement/EnforcementActionCenter.tsx
  dragonfly-dashboard/src/utils/formatters.ts
  dragonfly-dashboard/src/utils/logUiAction.ts
  scripts/daily_dev_check.ps1
  scripts/daily_prod_check.ps1
  supabase/migrations/20251221103000_fix_public_views.sql
  supabase/migrations/20251221110001_fix_enforcement_overview.sql
  tests/test_executive_metrics_views.py
  tests/test_prod_routes.py
Due: no-supabase-linked, migration-reminder

chore: remove railway.toml; use per-service UI config
  railway.toml
Due: none

docs: add Claude Engineer Guide for AI-assisted development
  docs/Claude_Engineer_Guide.md
Due: none

feat: FOIL generic ingestion adapter with fuzzy column mapper
  backend/db.py
  backend/main.py
  backend/routers/intake.py
  backend/routers/integrity.py
  backend/services/column_mapper.py
  backend/services/foil_mapper.py
  backend/services/reconciliation.py
  backend/services/simplicity_mapper.py
  backend/workers/enforcement_engine.py
  backend/workers/ingest_processor.py
  backend/workers/simplicity_ingest_worker.py
  backend/workers/smart_strategy.py
  docs/Claude_Engineer_Guide.md
  dragonfly-dashboard/src/App.tsx
  dragonfly-dashboard/src/components/LiveFeedTicker.tsx
  dragonfly-dashboard/src/hooks/useDataIntegrity.ts
  dragonfly-dashboard/src/hooks/useEnforcementActions.ts
  dragonfly-dashboard/src/hooks/useIntakeStationData.ts
  dragonfly-dashboard/src/hooks/useRealtimeSubscription.ts
  dragonfly-dashboard/src/hooks/useUploadIntake.ts
  dragonfly-dashboard/src/layouts/AppShell.tsx
  dragonfly-dashboard/src/layouts/Topbar.tsx
  dragonfly-dashboard/src/pages/DataIntegrityPage.tsx
  dragonfly-dashboard/src/pages/IntakeStationPageNew.tsx
  dragonfly-dashboard/src/pages/SettingsPageNew.tsx
  scripts/db_push.ps1
  supabase/migrations/20251211100000_foil_ingestion_pipeline.sql
  supabase/migrations/20251211120000_foil_generic_adapter.sql
  supabase/migrations/20251223100000_add_strategy_columns.sql
  supabase/migrations/20251223110000_data_integrity_engine.sql
  supabase/migrations/20251224000000_enable_realtime.sql
  supabase/migrations/20251225000000_simplicity_ingestion_pipeline.sql
  supabase/migrations/20251225100000_entity_audit_log.sql
  tests/test_foil_mapper.py
  tests/test_ingest_simplicity_pipeline.py
  tests/test_realtime_subscription.py
  tests/test_reconciliation.py
  tests/test_strategy_agent.py
Due: no-supabase-linked, migration-reminder

fix: use last_error instead of error_message in job_queue view
  supabase/migrations/20251224000000_enable_realtime.sql
Due: migration-reminder

fix: use judgment_amount instead of principal_amount in live feed view
  supabase/migrations/20251224000000_enable_realtime.sql
Due: migration-reminder

fix: use existing columns in draft_packets for live feed view
  supabase/migrations/20251224000000_enable_realtime.sql
Due: migration-reminder

fix: cast job_queue id to text for UNION compatibility
  supabase/migrations/20251224000000_enable_realtime.sql
Due: migration-reminder

feat: wire realtime subscriptions to IntakeStation and EnforcementActionCenter
  dragonfly-dashboard/src/pages/IntakeStationPageNew.tsx
  dragonfly-dashboard/src/pages/enforcement/EnforcementActionCenter.tsx
Due: none

fix(intake): correct SQL placeholder syntax for psycopg driver
  backend/routers/intake.py
  tests/test_api_intake_batches.py
Due: none

harden(intake): add dev-only placeholder assertion + skip legacy tests
  backend/routers/intake.py
  tests/test_workers_ingest.py
Due: none

feat(ops): add prod_smoke.ps1 - Push-Button E2E Verification
  scripts/prod_smoke.ps1
Due: no-supabase-linked

feat(ops): add verify_simplicity.ps1 + fix prod_smoke.ps1
  scripts/prod_smoke.ps1
  scripts/verify_simplicity.ps1
Due: no-supabase-linked

docs: add production acceptance criteria
  docs/production_acceptance.md
Due: none

feat(api): standardize response envelope with trace IDs (PR-1)
  backend/api/__init__.py
  backend/api/response.py
  backend/core/trace_middleware.py
  backend/main.py
  backend/routers/health.py
  backend/routers/intake.py
  tests/test_api_auth.py
  tests/test_api_envelope.py
  tests/test_intake_api.py
Due: none

feat(ui): implement PR-2 state machine and polling fallback
  .gitignore
  dragonfly-dashboard/src/hooks/useIntakeStationData.ts
  dragonfly-dashboard/src/pages/IntakeStationPageNew.tsx
Due: none

feat(api): harden /api/v1/intake/batches to use base table only (PR-3)
  backend/routers/intake.py
  tests/test_intake_api.py
Due: none

chore(deploy): remove Procfile to allow per-service start commands
  Procfile
Due: none

feat(config): unify configuration across API and workers
  backend/config.py
  backend/main.py
  backend/routers/system.py
  backend/workers/enforcement_engine.py
  backend/workers/heartbeat.py
  backend/workers/ingest_processor.py
  docs/env_contract.md
  scripts/print_effective_config.ps1
  src/core_config.py
  src/settings.py
  src/supabase_client.py
  supabase/migrations/20251215100000_worker_heartbeats.sql
  tests/test_worker_heartbeats.py
Due: no-supabase-linked, migration-reminder

feat(platform): config standardization and readiness probes
  .env.example
  .github/workflows/env-schema-check.yml
  backend/config.py
  backend/db.py
  backend/main.py
  backend/routers/cases.py
  backend/routers/health.py
  backend/routers/intake.py
  docs/env.md
  scripts/check_env_schema.py
  src/core_config.py
  src/settings.py
Due: no-supabase-linked

fix: harden worker heartbeat with circuit breaker + repair migration
  backend/workers/__init__.py
  backend/workers/heartbeat.py
  supabase/migrations/20251227000000_ops_worker_heartbeats.sql
  supabase/migrations/20251228000000_repair_heartbeats.sql
Due: migration-reminder

feat(platform): add platform router and config updates
  backend/config.py
  backend/main.py
  backend/routers/platform.py
Due: none

fix: add missing ceo_metrics router (imported by main.py)
  backend/routers/ceo_metrics.py
Due: none

docs: update enforcement_engine env var documentation
  backend/workers/enforcement_engine.py
Due: none

fix: prioritize canonical SUPABASE_DB_URL in get_supabase_db_url()
  src/supabase_client.py
Due: none
