Repository mccabetrow/dragonfly_civil: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-supabase-linked, migration-reminder

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile=black"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.0
    hooks:
      - id: mypy
        args: ["--config-file=mypy.ini", "--no-error-summary"]
        pass_filenames: false
        verbose: true
        # Allow mypy to fail without blocking commit (type hints are advisory)
        stages: [manual]
        additional_dependencies:
          - pydantic
          - pydantic-settings
          - supabase
          - psycopg[binary]

  # NOTE: mirrors-prettier never published v3.2.5; pin to v3.1.0 so pre-commit can clone successfully.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: "\\.(json|jsonc)$"

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.5
    hooks:
      - id: sqlfluff-lint
        args: ["--dialect=postgres", "--processes=4"]
        files: "^(dashboards/sql/|supabase/db/|supabase/schema.sql$)"
      - id: sqlfluff-fix
        args: ["--dialect=postgres", "--processes=4"]
        files: "^(dashboards/sql/|supabase/db/|supabase/schema.sql$)"

  # Local hooks for Dragonfly-specific checks
  - repo: local
    hooks:
      # Prevent use of --linked with Supabase CLI (causes pooler DNS issues on Windows)
      - id: no-supabase-linked
        name: no supabase --linked
        entry: >
          bash -c 'if grep -vE "^[[:space:]]*(#|//).*" "$@" 2>/dev/null | grep -qE "supabase[[:space:]]+(db|migration|link).*--linked|--linked"; then
          echo "";
          echo "ERROR: Use --db-url with SUPABASE_DB_URL_DEV/PROD instead of --linked.";
          echo "The --linked flag causes pooler DNS issues on Windows.";
          exit 1; fi; exit 0' --
        language: system
        files: '\.(ps1|yml|yaml|sh)$'
        types: [text]

      # Migration workflow reminder
      - id: migration-reminder
        name: migration workflow reminder
        entry: >
          python -c "import sys;
          print('REMINDER: Migrations auto-apply to DEV on push to main.');
          print('For PROD, use Actions > Supabase Migrations > Run workflow (prod).');
          sys.exit(0)"
        language: system
        files: "^supabase/migrations/.*\\.sql$"
        pass_filenames: false

test: add fake secret
  fake.txt
Due: none

fix(ops): add robust uvicorn launcher and compatibility shim
  tools/run_uvicorn.py
  tools_run_uvicorn.py
Due: none

fix: FATAL auth detection + webhook redaction
  backend/core/db.py
  backend/preflight.py
  backend/startup_validator.py
Due: none

feat: validate_db_config() - FATAL port 5432 check + sslmode
  backend/core/config_guard.py
  backend/main.py
Due: none

feat(ingest): add ingest.import_runs for exactly-once semantics
  supabase/migrations/20261101_ingestion_idempotency.sql
Due: migration-reminder

feat(security): view security audit + cache reload script
  supabase/migrations/20261102_verify_view_security.sql
Due: migration-reminder

fix(ops): add proxy_headers to uvicorn launcher for Railway
  tools/run_uvicorn.py
Due: none

fix(core): make dotenv optional for production resilience
  .gitleaksignore
  backend/core/bootstrap.py
  tests/__init__.py
  tests/test_bootstrap_resilience.py
  tests/test_run_uvicorn_imports.py
  tools/run_uvicorn.py
  tools_run_uvicorn.py
Due: none

docs: add DB URL contract, incident runbook, Railway checklist, and operator-visible config_guard logging
  backend/core/config_guard.py
  docs/ops/INCIDENT_SERVER_LOGIN_RETRY.md
  docs/ops/PRODUCTION_DB_URL_CONTRACT.md
  docs/ops/RAILWAY_OPERATOR_CHECKLIST.md
  scripts/verify_railway_vars.ps1
Due: no-supabase-linked

tools: add validate_prod_dsn.py with production DSN validation
  tests/test_validate_prod_dsn.py
  tools/validate_prod_dsn.py
Due: none

fix(core): make dotenv optional, add simplified certifier
  backend/core/loader.py
  tools/certify_deployment_v2.py
Due: none

fix(railway): restore crash-proof uvicorn launcher
  tests/test_run_uvicorn.py
  tests/test_tools_run_uvicorn_import.py
  tools/run_uvicorn.py
Due: none

fix(backend): graceful degradation for optional metrics module
  backend/main.py
  tests/test_fcra_access_logging.py
  tests/test_tools_certify_prod.py
  tests/test_validate_prod_dsn.py
  tools/validate_prod_dsn.py
Due: none

feat(workers): add ny_judgments_pilot ingestion worker
  workers/ny_judgments_pilot/README.md
  workers/ny_judgments_pilot/__main__.py
  workers/ny_judgments_pilot/config.py
  workers/ny_judgments_pilot/db.py
  workers/ny_judgments_pilot/main.py
Due: none

fix: Windows console encoding for run_uvicorn emoji characters
  tools/run_uvicorn.py
Due: none

fix: Use tools.run_uvicorn in nixpacks.toml for Indestructible Boot
  nixpacks.toml
Due: none

fix(config): Single DSN Contract - DATABASE_URL canonical, SUPABASE_DB_URL deprecated
  backend/preflight.py
  src/core_config.py
Due: none

fix(config): Make SUPABASE_URL and SUPABASE_SERVICE_ROLE_KEY optional for Indestructible Boot
  src/core_config.py
Due: none

feat: Final Systems Integration - DATABASE_URL contract, prod_gate defaults, plaintiff_ingest JSON output
  RUNBOOK_POOLER.md
  backend/core/config.py
  backend/core/db_state.py
  backend/db.py
  backend/main.py
  backend/preflight.py
  docs/RUNBOOK_PLAINTIFF_INGEST_CLI.md
  docs/RUNBOOK_PREFLIGHT.md
  src/core_config.py
  tests/test_auth_lockout_circuit_breaker.py
  tests/test_indestructible_boot.py
  tests/test_plaintiff_ingest_invariants.py
  tests/test_preflight.py
  tmp/test_dsn_contract.py
  tools/ProdGateHelpers.psm1
  tools/plaintiff_ingest.py
  tools/prod_gate.ps1
  tools/prod_gate.ps1.bak
  tools/railway_diag.ps1
  tools/tests/Test-ProdGateHelpers.ps1
Due: no-supabase-linked

feat: Indestructible Boot - API never crashes on DB failures
  backend/core/config_guard.py
  backend/main.py
  tools/debug_connection.py
  tools/prod_gate.ps1
Due: no-supabase-linked

fix(health): use module-level is_db_connected for dynamic value
  backend/api/routers/health.py
Due: none

fix(db): set is_db_connected flag in backend/db.py on success
  backend/db.py
Due: none

fix(ingest): align plaintiff_ingest with prod schema
  etl/src/ingest_claim.py
  tools/plaintiff_ingest.py
Due: none

fix(migration): add function signature to COMMENT ON claim_stale_job
  supabase/migrations/20260112160000_ingest_idempotent_rls.sql
Due: migration-reminder

feat(intake): add plaintiff_promote.py pipeline + fix prod_gate API URL
  data_in/prod_intake_fresh_15.csv
  tools/plaintiff_promote.py
  tools/prod_gate.py
Due: none

feat(reliability): add pooler verification + migration baseliner + DSN waiver
  backend/core/dsn_guard.py
  tools/baseline_migrations.ps1
  tools/verify_pooler.py
Due: no-supabase-linked

feat(reliability): implement time-boxed direct connection waiver
  RUNBOOK_POOLER.md
  backend/core/dsn_guard.py
  tools/prod_gate.py
Due: none

fix(prod_gate): correct migration version comparison
  tools/baseline_migrations.py
  tools/prod_gate.py
Due: none

feat(migrations): implement manifest-based validation and policy
  docs/MIGRATION_POLICY.md
  docs/MIGRATION_QUICK_REF.md
  supabase/migration_manifest.yaml
  tools/prod_gate.py
Due: no-supabase-linked
